
/* Estilo para el fondo del DynamicPage */
.customDynamicPage {
    background-color: rgba(137, 168, 199, 0.77) !important;
}


/* Estilo para el DynamicPageHeader */
.customDynamicHeader {
    background: linear-gradient(90deg, #85b4d8 0%, #205d9e 100%) !important;
}

/* Estilo para el contenedor del título */
.titleContainer {
    padding: 10px !important;
}

/* Estilo para el Grid */
.customGrid {
    background-color: #f5f6f8 !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

/* Ajustar el logo */
.customLogo {
    margin-left: 1rem; /* Espacio a la izquierda del logo */
}

/* Forzar el ancho completo del DynamicPageTitle */
.customDynamicPageTitle {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 1rem; /* Espacio a los lados */
}



/* Estilo para los Labels */
.customLabel {
    font-size: 1.1rem !important;
    color: #0d0d0e !important;
}




/* Ajustes responsivos */
@media (max-width: 600px) {
    .customCenteredTitle {
        font-size: 1.2rem !important;
        padding: 8px !important;
    }

    .customLabel {
        font-size: 1rem !important;
    }

    .customInput, .customSelect, .customDatePicker, .customTextArea {
        width: 100% !important;
    }

    .customButton {
        font-size: 1rem !important;
        padding: 8px 16px !important;
    }
}